FLASK_APP = "src/server"
FLASK_ENV = "development"
SERVER_NAME = "mahjong-manager"
SERVER_URL = "http://localhost:5000"
FLASK_DEBUG = "True"
IS_TEMPORARY_BUILD = "False"

SERVER_ADMIN_LINE_USER_ID = "サーバ管理者のLINE ID(サーバエラー発生時にエラー内容がLINE通知される)"

JWT_AUTH_PATH = 'auth'

FONT_FILE_PATH = 'AquaKana.ttc'
# pylint: disable=C0301
YOUR_CHANNEL_ACCESS_TOKEN = "LINE Bot Messaging API Channel のアクセストークン(必須)"
YOUR_CHANNEL_SECRET = "LINE Bot Messaging API Channel のシークレット(必須)"

EXTERNAL_DATABASE_URL = "mongodb://localhost:27017/"
DATABASE_NAME = "db"

# 画像OCR機能や生成AI機能など、GCPサービスを利用した機能に利用(任意)
GOOGLE_APPLICATION_CREDENTIALS = ""
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
GOOGLE_GEMINI_API_KEY = ""