{% extends "base.html" %} {% block content %}
<div class="container">
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 100vh"
  >
    <div class="card">
      <div class="card-body">
        <div class="card-title h3 text-center">Login</div>
        <div class="card-text">
          <div class="text-center">
            <a
              class="btn btn-success"
              href="{{ url_for('auth_blueprint.line_login') }}"
              style="background-color: #06C755; border-color: #06C755; color: white;"
            >LINE でログイン</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
