{% macro render(title, keys, data) -%}
{% if data|length != 0 %}
<table>
    <thead>
        <tr>
            {% for k in keys %}
            <th>{{ k }}</th>
            {% endfor %}
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for v in data %}
        <tr>
            {% for k in keys %}
            <td>{{ v[k] }}</td>
            {% endfor %}
            <td>
                <form action="{{ url_for('views_blueprint.delete_'+title, target_id=v['_id']) }}" method="post">
                    <button type="submit">削除</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>no record</p>
{% endif %}
{%- endmacro %}